body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;  /* ye horizontal scroll prevent krega*/
}
main,
header,
footer {
  background-color: #f8f9fa;
  width: 100%;
  box-sizing: border-box;
}
h1,
h2 {
  margin: 10px 0;
}
